$C1: #0d1b2a;
$C2: #1b263b;
$C3: #415a77;
$C4: #778da9;
$C5: #e0e1dd;
$CG1: #0ce900;
$CG2: #0cc103;
$CG3: #348b2f;
$CG4: #3b5839;
$CG5: #232423;
$CP1: #2a03db;
$CP2: #3117a4;
$CP3: #3e3277;
$CP4: #38344b;
$CP5: #1e1e1f;
$CY1: #ffce00;
$CY2: #eec104;
$CY3: #ac963a;
$CY4: #6d6647;
$CY5: #2c2c2b;
$CY5T: rgba(44, 44, 43, 0.9);
$CR1: #fe0006;
$CR2: #ec040a;
$CR3: #aa393c;
$CR4: #6c4647;
$CR5: #2c2a2b;
