@use "./abstract/variables" as *;
@use "./components/form" as *;
@use "./pages/login" as *;
@use "./pages/mainPage" as *;
@use "./components/popup" as *;
@use "./components/called" as *;
@use "./components/call" as *;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $C1;
  color: $C5;
}

button {
  background-color: $C2;
  color: $C5;
  font-size: 1.15rem;
}

button:hover {
  background-color: $C3;
}
