@use "./abstract/variables" as *;
@use "./components/form" as *;
@use "./pages/login" as *;
@use "./pages/mainPage" as *;
@use "./components/popup" as *;
@use "./components/called" as *;
@use "./components/call" as *;
@use "./components/contact" as *;
@use "./components/header" as *;
@use "./components/settings" as *;
@use "./components/notifications" as *;
@use "./components/loading" as *;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $CG5;
}

button {
  background-color: $CG5;
  color: $CY2;
  font-size: 1.15rem;
}

button:hover {
  background-color: $CY4;
}
