@use "../abstract/variables" as *;

.called,
.call {
  position: absolute;
  top: -5em;
  right: 1em;
  background-color: $C2;
  box-shadow: 0 0 25px black;
}

.call {
  margin-top: 10em;
  padding: 1em;
  border-radius: 0.5em;
  height: fit-content;
  text-align: center;
  p {
    font-size: 1.25rem;
  }
  button {
    border-radius: 0.5em;
    margin: 1em 0.5em;
    padding: 0.5em;
  }
}
