@use "../abstract/variables" as *;

.contact-page {
  width: 100%;
  button {
    width: 2em;
    height: 2em;
  }
  p,
  button {
    font-size: 1.25rem;
  }
  .contact-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $CG5;
    box-shadow: -5px 10px 10px black;
    color: $CY1;
    height: 10%;
    .contact-btns {
      display: flex;
      align-items: center;
      button {
        background-color: $CY5;
        border-radius: 5em;
        border: none;
        margin: 0 0.25em;
      }
      button img {
        width: 100%;
      }
      button:hover {
        background-color: $CY4;
      }
    }
  }
  .contact-chat-container {
    height: 90%;
    .chat-message-container {
      height: 85%;
      overflow-y: scroll;
      .chat-message {
        margin-left: 6em;
        background-color: $CP4;
        color: $CY1;
        width: fit-content;
        max-width: 500px;
        border-radius: 0.5em;
        padding: 0.5em;
        margin-bottom: 1em;
        box-shadow: 0 0 15px black;
        h3,
        h5 {
          display: inline;
          width: fit-content;
        }
        h5 {
          margin-left: 1em;
        }
        p {
          width: fit-content;
          margin: 0.75em auto 0.75em 0;
        }
        video,
        embed {
          width: 25%;
        }
      }
      .chat-message:first-child {
        margin-top: 1em;
      }
      .my-message {
        background-color: $CG4;
        margin-left: auto;
        margin-right: 6em;
        text-align: end;
        p {
          margin: 0.75em 0 0.75em auto;
        }
      }
    }
    .chat-input-container {
      height: 15%;
      max-height: 115px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: $CG5;
      box-shadow: -20px -10px 10px black;
      label {
        background-color: $CY5;
        color: $CY1;
        font-size: 1.75rem;
        border-radius: 5em;
        padding: 0.25em 0.5em;
      }
      button {
        font-size: 1.5rem;
        background-color: $CY5;
        border-radius: 5em;
        border: none;
      }
      button:hover,
      label:hover {
        background-color: $CY4;
      }
      input {
        border: none;
        background-color: none;
        background: none;
        color: $C5;
        font-size: 1.25rem;
        padding: 0.25em;
        border-radius: 0.25em;
        width: 70%;
        outline: none;
      }
    }
  }
}
