@use "../abstract/variables" as *;

form {
  background-image: linear-gradient(to bottom right, $CG5, $CY5);
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 500px;
  font-size: 1.25rem;
  height: fit-content;
  border-radius: 0.25em;
  box-shadow: 0 0 25px black;
  padding: 2em 0;
  align-items: center;
  row-gap: 1.75em;
  color: $CY1;
  h2 {
    padding: 0.5em 2.5em;
    color: $CY1;
    border-bottom: 3px solid $CY4;
  }
  input,
  button {
    box-shadow: 0 0 5px black;
    border-radius: 0.33em;
    padding: 0.5em 1em;
  }
  input {
    background-color: $CP5;
    color: $C5;
    border: none;
    width: 45%;
    font-size: 1.1rem;
    outline: none;
  }
  button:not(:first-of-type),
  input:not(:first-of-type) {
    margin-top: -1.25em;
  }
  button {
    width: 40%;
  }
  .added-list,
  .channel-add-contact-list {
    position: relative;
    background-color: $CY5;
    list-style-type: none;
    border-radius: 0.5em;
    min-height: 162.4px;
    max-height: 244.8px;
    overflow-y: scroll;
    width: 75%;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1em 0;
      p {
        width: fit-content;
        height: fit-content;
        margin-left: 1em;
      }
      .add-btn {
        border: none;
        width: 40px;
        height: 40px;
        padding: 0;
        font-size: 1.5rem;
        border-radius: 50em;
        margin-right: 1em;
      }
    }
    li:not(:last-child) {
      border-bottom: 3px solid $CG5;
    }
  }
}
.black-background {
  .add-channel-form {
    margin-top: 3em;
    max-height: 500px;
    overflow-y: scroll;
  }
}
