@use "../abstract/variables" as *;

form {
  background-image: linear-gradient(to bottom right, $CG5, $CY5);
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 500px;
  font-size: 1.25rem;
  height: fit-content;
  border-radius: 0.25em;
  box-shadow: 0 0 25px black;
  padding: 2em 0;
  align-items: center;
  row-gap: 1.75em;
  h2 {
    padding: 0.5em 2.5em;
    color: $CY1;
    border-bottom: 3px solid $CY4;
  }
  input,
  button {
    box-shadow: 0 0 5px black;
    border-radius: 0.33em;
    padding: 0.5em 1em;
  }
  input {
    background-color: $CP5;
    color: $C5;
    border: none;
    width: 45%;
    font-size: 1.1rem;
    outline: none;
  }
  button:not(:first-of-type),
  input:not(:first-of-type) {
    margin-top: -1.25em;
  }

  button {
    width: 40%;
  }
}
