@use "../abstract/variables" as *;

header {
  height: 10vh;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $C3;
  box-shadow: 0 0 25px black;
  img {
    width: 64px;
    height: 64px;
    border-radius: 5em;
  }
  button {
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
  }
  button:hover {
    background-color: $C4;
  }
}
