@use "../abstract/variables" as *;

header {
  height: 10vh;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $CY5;
  color: $CY1;
  box-shadow: 0 0 25px black;
  .profile-picture {
    background-size: cover;
    background-position-y: center;
    width: 64px;
    height: 64px;
    border-radius: 5em;
  }
  button {
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
  }
}
