@use "../abstract/variables" as *;

.black-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  label,
  button {
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    background-color: $CY5;
    color: $CY1;
  }
  label {
    font-size: 1.25rem;
  }
  label:hover {
    background-color: $CY4;
  }
  .settings-page {
    position: relative;
    margin-top: 2em;
    background-color: $CG5;
    z-index: 5;
    width: 45em;
    height: 40em;
    display: flex;
    align-items: center;
    border-radius: 0.5em;
    .close-btn {
      position: absolute;
      width: 1.5em;
      height: 1.5em;
      padding: 0;
      border-radius: 0.2em;
      top: 0;
      right: 0;
      z-index: 20;
    }
    .side-bar {
      display: flex;
      flex-direction: column;
      width: 33%;
      height: 100%;
      background-color: $CP5;
      border-radius: 0.5em;
      overflow-y: scroll;
      button {
        margin: 0.5em 0;
        width: 75%;
        align-self: center;
      }
    }
    .option-settings {
      height: 100%;
      width: 66%;
      display: flex;
      flex-direction: column;
      .option-btn {
        width: 75%;
        align-self: center;
        margin-top: 1.5em;
      }
      .change-password {
        margin-top: 1em;
      }
      .picture-switch {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1em;
        margin: 0 auto;
        width: 75%;
        canvas {
          border-radius: 20em;
          border: 1px solid $CG4;
          width: 75%;
        }
        .res-slider {
          -webkit-appearance: none;
          appearance: none;
          width: 75%;
          color: $CY4;
          background: $CY5;
          border-radius: 0.75em;
          outline: none;
        }
        .res-slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 4em;
          height: 1.5em;
          background-color: $CY1;
          border-radius: 0.75em;
        }
        .profile-pic,
        label {
          background-size: cover;
          background-position-y: center;
          width: 100px;
          height: 100px;
          border-radius: 5em;
        }
        label {
          padding: 0;
          position: absolute;
          background-color: transparent;
          color: transparent;
          top: 0;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        label:hover {
          background-color: $CY5T;
          color: $CY1;
        }
        input[type="file"] {
          display: none;
        }
      }
    }
  }
}
